        <div class="ui facebook button">
          <i class="facebook icon"></i>
          <a href="https://www.facebook.com/kandito">Facebook</a>
        </div>
        <br>
        <div class="ui twitter button">
          <i class="twitter icon"></i>
          <a href="twitter.com/kandito_aw">Twitter</a>
        </div>
        <br>
        <div class="ui linkedin button">
          <i class="linkedin icon"></i>
          <a href="https://id.linkedin.com/pub/kandito-agung-wicaksono/31/23b/476">LinkedIn</a>
        </div>