---
layout: default
---    
    <div class="eight wide white column" id="left">
      <h2 class="ui header">More...</h2>
        <div class="ui icon message">
          <i class="github icon"></i>
          <div class="content">
            <div class="header">
              <a href="http://github.com/kandito">My Project</a>
            </div>
            <p>Check my project in Github.</p>
          </div>
        </div>

        <div class="ui icon message">
          <i class="world icon"></i>
          <div class="content">
            <div class="header">
              My Blog
            </div>
            <p>Blog in comming soon.</p>
          </div>
        </div>
    </div>
    <div class="eight wide white column" id="right">
      <h2 class="ui header">Or, Contact me</h2>
        <div class="ui facebook button">
          <i class="facebook icon"></i>
          <a href="https://www.facebook.com/kandito">Facebook</a>
        </div>
        <div class="ui twitter button">
          <i class="twitter icon"></i>
          <a href="twitter.com/kandito_aw">Twitter</a>
        </div>
        <div class="ui linkedin button">
          <i class="linkedin icon"></i>
          <a href="https://id.linkedin.com/pub/kandito-agung-wicaksono/31/23b/476">LinkedIn</a>
        </div>
    </div>